pkgbase = ap-bin
	pkgdesc = CLI tool that packs C assignment submissions for Canvas upload
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/cat-forgor/AssignmentPacker
	arch = x86_64
	license = MIT
	provides = ap
	conflicts = ap
	source = https://github.com/cat-forgor/AssignmentPacker/releases/download/v0.1.0/ap-linux-x64
	sha256sums = 20513256598ca73c327cd28c9c1fb2f7ee361fbe2e045b3f3116b6362c9f4b7e

pkgname = ap-bin
